@model ZrakForum.DataAccess.Models.ForumShow

@if (Model == null)
{
    <h2 class="font-weight-bold text-dark">Traženi forum ne postoji</h2>
}
else
{
    ViewBag.Title = Model.ForumName;

    <div class="text-light bg-dark p-2">
        Teme
        <a class="bnt btn-dark float-right" asp-action="Create" asp-controller="Topic" asp-route-ForumId="@Model.ForumId">+ Nova tema</a>
    </div>

    @if (!Model.Topics.Any())
    {
        <h2 class="font-weight-bold text-dark">Nema tema na ovom forumu</h2>
    }
    else
    {
        <table class="table table-striped table-hover">
            @foreach (var item in Model.Topics.OrderByDescending(t => t.LastReplyAt))
            {
                <tr>
                    <td>
                        <span class="font-weight-bold text-dark font-italic">
                            <a asp-action="Show" asp-controller="Topic" asp-route-id="@item.Id">@item.Title</a>
                        </span>

                        <br />
                        <span class="font-weight-bold">
                            Komentara: @item.RepliesCount
                        </span>
                        <br />
                        <span class="font-weight-bold">
                            Započeo:
                            <a class="text-danger" asp-action="Show" asp-controller="User" asp-route-Username="@item.StartedBy">@item.StartedBy</a>
                            @item.StartedAt.ToString("dd. MM. yyyy. HH:mm")h
                        </span>
                        @if (item.RepliesCount > 0)
                        {
                            <br />
                            <span class="font-weight-bold">
                                Najnoviji komentar:
                                <a class="text-danger" asp-action="Show" asp-controller="User" asp-route-Username="@item.LastReplyBy">@item.LastReplyBy</a>
                                @item.LastReplyAt.ToString("dd. MM. yyyy. HH:mm")h
                            </span>
                        }
                    </td>
                </tr>
            }
        </table>
    }
}



